# keep-sorted start
/.env
**/*.bck
**/*.db
**/*.env
**/*.local.*
**/*.log
**/*.pyc
**/*.swo
**/*.swp
**/*.tsbuildinfo
**/*~
**/.DS_Store
**/.astro/
**/.cache/
**/.claude/
**/.desktop.ini
**/.direnv/
**/.env.*.local
**/.env.local
**/.env.production
**/.idea/
**/.playwright-mcp/
**/__pycache__/
**/build/
**/bun.lockb
**/coverage/
**/dist/*
**/node_modules/
**/result
**/result/
**/temp/
**/tmp/
/public/media/david-orbits/
# keep-sorted end
